@model IEnumerable<Microsoft.Graph.WindowsAutopilotDeploymentProfile>

@{
    ViewBag.Current = "IntuneAutoPilotConfiguration";
}

    <div class="jumbotron">
        <h1>Offline Autopilot Profiles</h1>
        <p>Download Windows Autopilot profiles ready for OSD with SCCM, mOSD...</p>
        Inject profile during OSD to: <code class="text-dark">%WINDIR%\Provisioning\Autopilot\AutoPilotConfigurationFile.json</code>
    </div>

    <table class="table table-borderless">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Details", "Detail", new { id = item.Id }, new { @class = "btn btn-outline-light" })
                    @Html.ActionLink("Download", "DownloadAutopilotConfigurationJSON", new { id = item.Id }, new { @class = "btn btn-outline-light" })
                </td>
            </tr>
        }
    </table>



