@model IEnumerable<ModernWorkplaceConcierge.Helpers.ConditionalAccessPolicy>

@{
    ViewBag.Current = "ConditionalAccessExport";
}

    <div class="jumbotron">
        <h1>ConditionalAccessPolicies</h1>
        <p>
            Download individual Conditional Access policies or all at once. Helpful for testing, backup and documentation purposes. <br />
            Please note that baseline policies and policies with the "Monitor" option enabled are not available from Microsoft Graph.
        </p>
        @Html.ActionLink("Export Conditional Access configuration", "DownloadAll", "ConditionalAccess", new { area = "" }, new { @class = "btn btn-primary btn-large" })
    </div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.displayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifiedDateTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.displayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modifiedDateTime)
            </td>
            <td>
                @Html.ActionLink("Download", "Download", new { Id = item.id })
            </td>
        </tr>
    }
</table>
