@model IEnumerable<Microsoft.Graph.DeviceManagementScript>

@{
    ViewBag.Current = "Intune";
}

<div class="jumbotron">
    <h1>DeviceManagementScripts</h1>
    <p>Download PowerShell scripts from your Intune tenant.</p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedDateTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDateTime)
            </td>
            <td>
                @Html.ActionLink("Download", "DownloadDeviceManagementScript", new { Id = item.Id })
            </td>
        </tr>
    }

</table>
