@model  Microsoft.Graph.WindowsAutopilotDeploymentProfile

@{
    ViewBag.Current = "Detail";
}

<div class="jumbotron">
    <h1>Windows Autopilot Profiles</h1>
    <p>The downloaded profile can be used for offline Windows Autopilot deployments. Store downloaded file under "C:\Windows\Provisioning\Autopilot\AutoPilotConfigurationFile.json" </p>
</div>

<table>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>DisplayName</td>
        <td>@Model.DisplayName</td>
    </tr>
    <tr>
        <td>DeviceType</td>
        <td>@Model.DeviceType</td>
    </tr>
    <tr>
        <td>DeviceNameTemplate</td>
        <td>@Model.DeviceNameTemplate</td>
    </tr>
    <tr>
        <td>EnableWhiteGlove</td>
        <td>@Model.EnableWhiteGlove</td>
    </tr>
    <tr>
        <td>OutOfBoxExperienceSettings</td>
        <td>@Model.OutOfBoxExperienceSettings.ToString()</td>
    </tr>


</table>



