@model  Microsoft.Graph.WindowsAutopilotDeploymentProfile

@{
    ViewBag.Current = "Detail";
}

<div class="jumbotron">
    <h1>@Model.DisplayName</h1>
    <p>WindowsAutopilotDeploymentProfile</p>
</div>

<table>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>DisplayName</td>
        <td>@Model.DisplayName</td>
    </tr>
    <tr>
        <td>DeviceType</td>
        <td>@Model.DeviceType</td>
    </tr>
    <tr>
        <td>DeviceNameTemplate</td>
        <td>@Model.DeviceNameTemplate</td>
    </tr>
    <tr>
        <td>EnableWhiteGlove</td>
        <td>@Model.EnableWhiteGlove</td>
    </tr>
    <tr>
        <td>OutOfBoxExperienceSettings.DeviceUsageType</td>
        <td>@Model.OutOfBoxExperienceSettings.DeviceUsageType</td>
    </tr>
    <tr>
        <td>OutOfBoxExperienceSettings.HideEULA</td>
        <td>@Model.OutOfBoxExperienceSettings.HideEULA</td>
    </tr>
    <tr>
        <td>OutOfBoxExperienceSettings.HidePrivacySettings</td>
        <td>@Model.OutOfBoxExperienceSettings.HidePrivacySettings</td>
    </tr>
    <tr>
        <td>OutOfBoxExperienceSettings.SkipKeyboardSelectionPage</td>
        <td>@Model.OutOfBoxExperienceSettings.SkipKeyboardSelectionPage</td>
    </tr>
    <tr>
        <td>OutOfBoxExperienceSettings.UserType</td>
        <td>@Model.OutOfBoxExperienceSettings.UserType</td>
    </tr>
    <tr>
        <td>Language</td>
        <td>@Model.Language</td>
    </tr>
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
</table>

@Html.ActionLink("Back", "Index", "AutoPilotConfigurationJSON", new { area = "" }, new { @class = "btn btn-default btn-large" })


